RAPIDAPI_KEY=
RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com

KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_BALL_EVENTS=cricket.ball.events
KAFKA_TOPIC_ANALYTICS=cricket.analytics
KAFKA_GROUP_ID=cricklytics-spark

MONGO_URI=mongodb://localhost:27017/cricklytics

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=30

PORT=4000
NODE_ENV=development

SPARK_MASTER=local[*]
SPARK_APP_NAME=CricklyticsStream
